<%- include("templates/header") %> 
    <p>You are logged out.</p>
    <button type="button" class="btn btn-primary rounded-pill px-3" onclick="window.location.href='/login'">Login</button>
<%- include("templates/footer") %> 